# Obsidian 个性化/缓存文件
.obsidian/workspace-*.json
.obsidian/workspace-mobile.json
.obsidian/plugins/obsidian-git/data.json
.obsidian/graph.json
.obsidian/trash/
.obsidian/.trash/

# Obsidian 编辑器缓存
*.md.edtz

# 系统垃圾文件
.DS_Store
Thumbs.db

# Quartus / ModelSim 生成文件
db/
incremental_db/
output_files/
simulation/
*.qws
*.rpt
*.summary
*.done
*.smsg
*.qmsg
*.jdi
*.pin
*.sof
*.pof
*.vo
*.vcd
*.wlf
transcript
work/

# 临时备份文件
*.bak
*.tmp
*~